<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Hello ejs Views</h1>

		<form action="/" method="post">
			<input
				type="text"
				name="title"
				placeholder="Insira um título"
				value="<%= body.title %> "
				required
			/>
			<input
				type="text"
				name="url"
				placeholder="Insira uma url"
				value="<%= body.url %> "
				required
			/>
			<input
				type="text"
				name="description"
				placeholder="Insira uma descrição"
				value="<%= body.description %> "
			/>

			<button>Salvar</button>
		</form>

		<% if (error) { %>
		<h4><%= error.mensage %></h4>
		<% } %>
	</body>
</html>
